*{
  list-style: none;
  user-select: none;
  transition: 0s;
}


.wrapper{
    display: flex;
    position: relative;
  }
  
  .wrapper .sidebar{
    width: 250px;
    height: 100%;
    background: #ff5b5b;
    padding: 30px 0px;
    position: fixed;
    border-radius: 0 0 2rem  0;
  }
  
  .wrapper .sidebar h3{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .wrapper .sidebar ul a{
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 18px;
  }

  .wrapper .sidebar ul a:hover{
    background-color: rgba(245, 129, 129, 0.671);
    border-radius: 0.5rem;
  }
  
  .wrapper .main_content{
    width: 100%;
    margin-left: 250px;
  }
  
  .wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
    border-radius: 0 0 2rem 0;
  }
  
  .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
  }
  
  .info div{
    margin-bottom: 20px;
  }
